.main{
    border-left: green 15px solid;
    border-right: orange 15px solid;
    height: 600px;
   

}
/* body{
    width:%;
} */
.head{
    display: flex;
    margin-left: 40%;
    font-size: 24px;
    font-weight: bolder;
}
.happy{
    background-color: orange;
}
.ind{
    background-color: white;
    margin-left: 2%;

}
.day{
    background-color: green;
    margin-left: 2%;
}
.sun{
    position: absolute;
    left:80%;
    top: 20%;
    animation: star 5s infinite linear  ;
}
@keyframes star {
    100%{
        transform: translateX(-50%);
    }
}
/* .sky-city{
    position: absolute;
  
} */
.sky{
  
     /* width:100%; */
    /* border-left: green 15px solid;
    border-right: orange 15px solid; */
    background-image: url(./sky.jpg);
    z-index: -1;
    position: absolute;
    top: 0%;
    overflow: hidden;
    height: 520px;
}
.city{
    width: 500%;
    position: absolute;
    right: 62%;
    width: 50%;
    z-index:-1;
    height:250px;
    bottom: 5%;
    background:repeat;
    animation: town 5s infinite linear;

}
@keyframes town {
    100%{
        transform:translateX(50%);
    }
}
.road{
    z-index:-1;
    width: 200%;
    position: absolute;
    top: 90%;
    animation: way 5s infinite linear;
}
@keyframes way {
    100%{
        transform:translateX(-50%);
    }
}
.car{
    width: 30%;
    margin-top: -94%;
    position: absolute;
    bottom:-8%;
    left: 35%;
    animation: vehicle 1s infinite;
}
@keyframes vehicle {
    50%{
        transform: translateY(2px);
    }
       
   }
.wheel{
    width: 5%;
    margin-top: -80%;
    position: absolute;
    bottom: -6%;
    left: 38%;
    animation: tire1 1s infinite linear;
  
}
@keyframes tire1 {
    100%{
        transform:rotate(360deg)
    }
    
}
.wheel2{
    width: 5%;
    margin-top: -80%;
    position: absolute;
    bottom: -6%;
    left: 56%;
    animation: tire2 1s infinite linear;
}
@keyframes tire2 {
    100%{
        transform:rotate(360deg)
    }
    
}
.flag{
    height: 25%;
    width: 50%;
    position: absolute;
    bottom: -7%;
    left: 58%;
    
}
.link3{
    text-align: center;
   margin-left: 50%;
  position: absolute;
  bottom: -10%;
  background-color: greenyellow;
  font-size: 30px;
  
}